<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Homcloud" %></title>
    <%= stylesheet_link_tag "site" %>
    <!--- <%= javascript_include_tag "site" %> -->
  </head>
  <body>
    <header>
      <nav>
        <%= partial "nav" %>
        <div class="language">
          <%= link_to("(Japanese)", "/index.html") %>
          <%= link_to("(English)", "/index.en.html") %>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      Contact: Ippei Obayashi <&#105;&#46;&#111;&#98;&#97;&#121;&#97;&#115;&#104;&#105;&#64;&#111;&#107;&#97;&#121;&#97;&#109;&#97;&#45;&#117;&#46;&#97;&#99;&#46;&#106;&#112;> <br>
      Last modified: <%= GitMtime.get(current_page) %> <br>

      <nav>
        <%= navlink('HomCloud FrontPage', 'index') %>
      </nav>
    </footer>
  </body>
</html>

