<ul class="main-menu">
  <li class="main-menu-item"><%= navlink('HomCloud FrontPage', 'index') %></li>
  <li class="main-menu-item"><%= navlink('Download', 'index', '#download') %></li>
  <li class="main-menu-item-dropdown">
    <div class="main-menu-title">Documents</div>
    <ul class="sub-menu">
      <li class="sub-menu-item doc"><%= navlink('▷ How to install', 'install-guide/index') %></li>
      </li>
      <% if current_page.data.lang == "ja" %>
        <li class="sub-menu-item doc"><%= link_to('▷ FAQ', '/faq.html') %></li>
      <% end %>
      <li class="sub-menu-item doc"><%= navlink('▷ Tutorials', 'tutorials') %></li>
      <!-- <li class="sub-menu-item doc"><%= link_to('▷ CLI Manual', '/cli-doc.html') %></li> -->
      <% if current_page.data.lang == "ja" %>
        <li class="sub-menu-item doc"><%= link_to('▷ HomCloud 3 migration guide', '/homcloud-3-migration/index.html') %>
      <% end %>
      <li class="sub-menu-item doc"><%= link_to('▷ Benchmarks', '/benchmarks.html') %></li>
      <li class="sub-menu-item doc"><%= link_to('▷ Python Interface API', '/python-api/index.html') %></li>
      <li class="sub-menu-item doc"><%= link_to('▷ HomCloud use cases', '/use_cases.html') %></li>
    </ul>
  </li>
  <li class="main-menu-item"><%= link_to("Old versions", "/download-links.html") %> </li>
</ul>

