<ul>
  <li><%= navlink('HomCloud FrontPage', 'index') %></li>
  <li><%= navlink('Download', 'index', '#download') %></li>
  <% if current_page.data.lang == "ja" %>
    <li><%= link_to('How to install', '/install-guide/index.html') %></li>
    <li><%= link_to('FAQ', '/faq.html') %></li>
  <% else %>
    <li><%= link_to('How to install', '/install-guide/index.en.html') %></li>
  <% end %>
  <li><%= navlink('Tutorial', 'basic-usage') %></li>
  <li><%= link_to('CLI Manual', '/cli-doc.html') %></li>
  <% if current_page.data.lang == "ja" %>
    <li><%= link_to('HomCloud 3 migration guide', '/homcloud-3-migration/index.html') %>
  <% end %>
  <li><%= link_to("Python Interface API", "/python-api/index.html") %>
  <li><%= link_to("Old versions", "/download-links.html") %> </li>
</ul>

